<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="headdeps">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Karty</title>
  </th:block>

  <nav th:fragment="navbar">
      <a th:classappend="${page == 'main' ? 'active' : ''}" href="/main">Strona główna</a>
      <a th:classappend="${page == 'cards' ? 'active' : ''}" th:if="${user != null}" href="/cards">Karty</a>
      <a th:classappend="${page == 'login' ? 'active' : ''}" th:if="${user == null}" href="/login">Zaloguj się</a>
      <a th:if="${user != null}" href="/logout">Wyloguj się</a>
      <a th:classappend="${page == 'contact' ? 'active' : ''}"  href="/contact">Kontakt</a>
  </nav>

</html>
