<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="headdeps">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Karty</title>
  </th:block>

  <nav th:fragment="navbar">
      <a href="/main" class="active">Strona główna</a>
      <a href="/cardpacks">Otwórz paczkę kart!</a>
      <a href="/logout">Wyloguj się</a>
      <a href="/login">Zaloguj się</a>
  </nav>

</html>
