<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Karty</title>
    <th:block th:include="fragments.html :: headcommon"> </th:block>
</head>
<body>
<span class="error" th:text="${error}"></span>
<form method="post">
    <label for="username">Nazwa użytkownika</label>
    <input name="username" id="username" type="text">
    <label for="password">Hasło</label>
    <input name="password" id="password" type="password">
    <button type="submit">Zaloguj</button>
</form>

</body>
</html>
